.welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    width: 40vw;
    margin-right: 40px;
  }
  mat-card {
    position: fixed;
    background-color: #131313;
    color: white;
    
    height: 100%;
  }
  mat-card-header {
      padding-top: 75px;
    justify-content: center;
    color: rgb(161, 7, 7);
  }
  .content-container {
    text-align: center;
  }
  mat-card-content {
    font-size: 24px;
    margin-top: 40px;
    justify-content: center;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .mat-stroked-button {
    border: 3px solid #ffbc29;
    color: #ffbc29;
    width: 15vw;
    transition-duration: 0.2s;
  }
  .mat-stroked-button:hover {
    background-color: #ffbc29;
    color: black;
  }

  .fullscreen {
      height: 100%;
      width: 100%;
  }