.movies-container {
    background: #b3b1ae;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .mat-card {
    margin: 10px;
    width: 200px;
    background-color: rgb(255, 255, 255);
  }

  .mat-card-header {
    justify-content: center;
    text-align: center;
    height: 70px;
    padding-bottom: 15px;
  }

  .mat-card-title {
    font-size: 22px;
    color: #000000;
  }

  .mat-card-subtitle {
    color: #000000;
    font-size: 12px;
    
  }

  .img-div {
    text-align: center;
    width: 200px;
    height: 300px;
    background-color: #b0b0ad;
  }

  .img-div img {
    width: 185px;
    height: 284px;
    margin: 7px;
  }

  .mat-card-actions {
    display: flex;
    height: 50px;
  }

  .mat-button {
    padding: 0;
    color: #131313 !important;
  }

  .mat-icon-button {
    color: rgb(161, 7, 7);
    position: absolute;
    right: 5px;
    top: 5px;
  }

  