<div class="movies-container">
    <mat-card *ngFor="let movie of movies;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <div class="img-div">
            <img src={{movie.ImagePath}} alt={{movie.Title}} />
        </div>

        <mat-card-actions>
            <button mat-button color="primary" (click)="openSummaryDialog(movie.Title, movie.Description)">
                Summary
            </button>
            <button mat-button color="primary" (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
                Genre
            </button>
            <button mat-button color="primary" (click)="openDirectorDialog(movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth,
            movie.Director.Death)">
                Director
            </button>
            <button mat-icon-button (click)="toggleFavorite(movie)">
                <mat-icon *ngIf="!isFavorite(movie._id)"> favorite_border </mat-icon>
                <mat-icon *ngIf="isFavorite(movie._id)"> favorite </mat-icon>
            </button>


        </mat-card-actions>
    </mat-card>
</div>