.profile-container {
    background: #b3b1ae;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

  .mat-card {
    width: 500px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
  }

  .mat-card-header {
    justify-content: center;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;
  }

  .mat-card-title {
    font-size: 27px !important;
  }

  .mat-card-content {
    font-size: 16px;
  }

  .mat-divider {
    background-color: #b3b1ae;
    margin-top: 16px;
  }

  .content-container {
    margin-top: 50px;
    margin-left: 50px;
  }

  .mat-icon {
    margin-right: 10px;
    color: #ffbc29 !important;
  }

  #profile-title {
    color: #131313;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .edit-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.2s;
  }

  .edit-btn:hover {
    background-color: rgb(202, 167, 8);
    color: black;
  }

  .delete-btn {
    color: rgb(161, 7, 7);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(161, 7, 7);
    transition-duration: 0.2s;
  }
  .delete-btn:hover {
    background-color: rgb(161, 7, 7);
    color: black;
  }

  .user-fav {
    text-align: center;
    font-size: 25px;
  }

  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #b3b1ae;
    margin-top: 0px;
  }

  .favorite-card {
    margin: 10px;
    width: 195px;
    background-color: rgb(255, 255, 255);
  }

  .img-container {
    text-align: center;
    width: 200px;
    height: 300px;
    background-color: #b2b1ad;
  }

  .img-container img {
    width: 185px;
    height: 284px;
    margin: 7px;
  }

  .fav-header {
    justify-content: center;
    text-align: center;
    height: 70px;
  }

  .fav-title {
    font-size: 20px !important;
    color: #000000;
  }

  .fav-subtitle {
    color: #000000;
    font-size: 12px;
  }

  .fav-action {
    margin-top: 10px;
    display: flex;
    height: 10px;
  }

  #fav-action-btn {
    color: #131313 !important;
  }

  .mat-icon-button {
    position: absolute;
    right: 3px;
    top: 3px;
  }
  
  .remove-btn {
    color: rgb(161, 7, 7) !important;
  }

  h2{
    background-color: #b3b1ae;
  }

  .fav-divider{
    background: #000000;
    margin-top: 0px;
  }


  